.col-md-12
  h2 Edit Event - {{editEvent.name}}
  br
.row
  .col-md-6
    form(action="/events/"+ slug +"/update", method="POST")
      p
        input.form-control(name="slug", type="text", placeholder="Slug", value='{{editEvent.slug}}',required)
      p
        input.form-control(name="name", type="text", placeholder="Event Name", value='{{editEvent.name}}', required)
      p
        input.form-control(name="place", type="text", placeholder="Event Venue", value='{{editEvent.place}}', required)
      p
        input.form-control(name="date", type="text", placeholder="Date", value='{{editEvent.date}}', required)
      p
        textarea.form-control(name="description", type="text", placeholder="Description")
          {{editEvent.description}}
      p
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Edit Event
  .col-md-6
    p
      | Here will be some information regarding editing events.
