.col-md-12.event-info
  center
    h2 {{slugEvent.name}}
.col-md-12.div-center
  .row
    .col-md-6
      h4 Venue: {{slugEvent.place}}
      h4  Date: {{slugEvent.date | date}}
    .col-md-6
      .btn-group.pull-right
        .btn.btn-primary Sign Up
        .btn.btn-success Start Event
        .btn.btn-warning Edit
        .btn.btn-danger Delete
  br
  .row
    pre {{slugEvent.description}}
  .row
    center
      img.event-img(ng-src='{{slugEvent.eventPhoto}}')
      
