extends layout

block content
  .jumbotron
    .container
      h1 Welcome to the Events Page!
      p
        | All the events will be displayed here.
  .col-md-6
    .well
      .container
        h3 {{Event Title}}
        h4 {{Event Place}}
        h4 {{Event Date}}
        h4 {{Event Description}}
        h4 {{Event Organiser}}
