extends layout

block content
  .event-welcome
    .container
      h1 Welcome to the Events Page!
      p
        | All the events will be displayed here.
      br
  div(class='container', id='event-intro')
    .row
      div(class='col-md-10 col-md-offset-1')      
        .well
          .container
            h3 {{Event Title}}
            h4 {{Event Place}}
            h4 {{Event Date}}
            h4 {{Event Description}}
            h4 {{Event Organiser}}
