extends layout

block page
  - var menu = 'events'
block content
  h1 Welcome to DoCSoc Events
  .col-md-12.div-center
    .row.event-info(ng-repeat="e in events | orderBy:orderProp")
      .col-md-10
        h3 #[a(href='/events/{{e.slug}}') {{e.name}}]
        h4 {{e.place}}
        h4 {{e.date}}
        p {{e.description}}
      .col-md-2
        .btn-group-vertical
          .btn.btn-primary Sign Up
          .btn.btn-success Start Event
          .btn.btn-warning Edit
          .btn.btn-danger Delete
        
