extends layout

block page
  - var menu = 'events'
block content
  h1 Welcome to DoCSoc Events
  .row(ng-repeat='e in events')
    h3 {{e.title}}
    h4 {{e.place}}
    h4 {{e.date}}
    h4 {{e.description}}
    h4 Event Organiser
