doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .event-welcome
       .container
         .row
           div(class='col-md-2 col-md-offset-5')
             img(class='center-block docsoc-logo' src='images/docsoc-logo.png')
         br
         .row
           .col-md-10.div-center
             include includes/menu
         br
      div(class='container', id='event-intro')
       .row
          .well.col-md-10.div-center
            block content
          br
          p.text-center
            | Made with ♥ by #[a(class='credit' href='https://github.com/mishrabhinav') Abhinav Mishra]
