doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // AngularJS Files
    script(src='/javascripts/angular.js')
    script(src='/javascripts/app.js')
    // AngularJS Controller
    script(src='/javascripts/controller/eventsController.js')
    // AngularJS Services
    script(src='/javascripts/services/eventsAPI.js')
  body
    block page
    .event-welcome
       .container
         .row
           div(class='col-md-2 col-md-offset-5')
             img(class='center-block docsoc-logo' src='/images/docsoc-logo.png')
         br
         .row
           .col-md-10.div-center
             include includes/menu
         br
      div(class='container', id='event-intro')
       .row
          .well.col-md-10.div-center(ng-controller='eventsCtrl')
            block content
          br
          p.text-center
            | Made with ♥ by #[a.lnk(href='https://github.com/mishrabhinav') Abhinav Mishra]
