doctype html
html(ng-app='app', ng-controller='MainController')
  head
    title  {{TitleService.title()}}
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // AngularJS Files
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/javascripts/ngApp.min.js')

  body
    block body
