doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // AngularJS Files
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/app.js')
    // AngularJS Controller
    script(src='/javascripts/controller/eventsController.js')
    // AngularJS Services
    script(src='/javascripts/services/eventsAPI.js')
  body
    block body
