extends layout

block page
  - var menu = 'login'

block content
  .col-md-4.div-center
    form(action="/login", method="POST")
      p
        input.form-control(name="username", type="text", placeholder="College Login")
      p
        input.form-control(name="password", type="password", placeholder="Password")
      p
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Log in
