extends layout

block page
  - var menu = 'manage'
block content
  .row
    table.table.table-stripped
       thead
         tr
           th(width='60%') Event
           th(width='20%')
           th(width='20%')
           tr(ng-repeat='e in events')
             td 
               {{e.name}}
             td
               .btn.btn-success Edit
             td
               .btn.btn-danger Delete
       tbody
            
