extends layout

block content
  .row
    .col-md-6
      form(action="/api/events", method="POST")
        p
          input.form-control(name="name", type="text", placeholder="Event Name")
        p
          input.form-control(name="place", type="text", placeholder="Event Venue")
        p
          input.form-control(name="date", type="text", placeholder="Date")
        p
          textarea.form-control(name="description", type="text", placeholder="Description")
        p
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Create Event
    .col-md-6
      p
        | Here will be some information regarding new events.
