body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eff1f4;
}

a {
  color: #fff; //#00B7FF;
}

.docsoc-logo {
  width: 150px;
}

.event-welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #1e5491;
}

#event-intro{
       position: relative;
       bottom: 70px;
       z-index: 500;
}

#event-intro > .row {
       min-height: 400px;
}
