.row
  .col-md-12
    .row
      img.event-img(ng-src='{{e.eventPhoto}}')
    .row
      .col-md-12
        h3 #[a.lnk(href='/events/{{e.slug}}') {{e.name}}]
        h4 {{e.place}}
        h4 {{e.date | date}}
        pre {{e.description}}
    .row
      .col-md-12.btn-group
        .btn.btn-primary(ng-click='signUp(e.slug)') Sign Up
        .btn.btn-success(ng-click='startEvent(e.slug)', ng-if='!e.signUpOpen') Start
        .btn.btn-default(ng-click='endEvent(e.slug)', ng-if='e.signUpOpen') End
        .btn.btn-warning(ng-click='editEvent(e.slug)') Edit
        .btn.btn-danger(ng-click='deleteEvent(e.slug)') Delete
    
