.row
   .col-md-4
     img.event-img(ng-src='{{event.eventPhoto}}')
   .col-md-8
     .row
       .col-md-12
         h3 #[a.lnk(href='/events/{{event.slug}}') {{event.name}}]
         h4 {{event.place}}
         h4 {{event.date | date}}
         pre {{event.description}}
     .row
       .col-md-12.btn-group
         .btn.btn-primary(ng-click='signUp(event.slug)') Sign Up
         .btn.btn-success(ng-click='startEvent(event.slug)', ng-if='!event.signUpOpen') Start
         .btn.btn-default(ng-click='endEvent(event.slug)', ng-if='event.signUpOpen') End
         .btn.btn-warning(ng-click='editEvent(event.slug)') Edit
         .btn.btn-danger(ng-click='deleteEvent(event.slug)') Delete
   
